.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 16px;
}

.lists {
  display: flex;
  gap: 32px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.listSection {
  flex: 1;
}