.main {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

.lists {
  display: flex;
  gap: 32px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.listSection {
  flex: 1;
}